/*body {
    background-color: #dddddd;
}*/

h3 {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 30px 0 10px;
}

form {
    width: 500px;
    height: 500px;
    border-color: #111;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

form textarea {
    width: 300px;
    height: 300px;
    overflow-wrap: break-word;
    border-color: #111;
    padding: 6px 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    background-color: #fff;
    color:#111;
}

form button {
    width: 76px;
    padding: 6px 10px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

form button:hover {
    background-color: #313131;
}