body {
    background-color: #e9e9e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #111;
}

p {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

main {
    margin: 0 auto;
    width: 200px;
    padding-top: 30px;
}

main form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    width: 100%;
    padding: 4px 3%;
    background-color: #333;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1rem;
}

button {
    background-color: #0a79c9;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #111;
    font-size: 1rem;
    padding: 4px 20px 6px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
}

button:hover {
    background-color: #0a6bb0;
}

label {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #111;
}

select {
    width: 100%;
    background-color: #333;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
}

.calc-result {
    padding-top: 40px;
    font-size: 1rem;
    color: #111;
}

.calc-error {
    font-size: 1rem;
    color: #f13737;
}